* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins';
    font-style: normal;
}

section {
    min-height: 1200px;
}

.small-title {
    font-weight: 700;
    font-size: 23px;
    line-height: 135%;
    letter-spacing: -0.005em;
    color: #000000;
}

.small-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    color: #000000;
}

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 159.5%;
    letter-spacing: -0.005em;
    color: #000000;
}

.hud-base-color {
    color: #051826;
}

.hud-base-bg-color {
    background: #051826;
}

.hud-green-color {
    color: #CDFF1A;
}

.hud-blue-color {
    background: #1F263B;
}

.hud-white-color {
    background: #F5F8FF;
}

.drop-shadow {
    box-shadow: -12px 22px 35px 7px #0000001F;
}

.js-navbar-bg {
    background-color: #1a25398c;
}

.bg-home-img {
    background-image: url('img/hero.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-bg-img {
    background-image: url('img/method-frame.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.bg-about-gradient {
    /* background: linear-gradient(180deg, #FFFFFF 51.36%, #E1FF76 56.41%, #DAFF54 58.32%, #D2FF33 62.42%, #CDFF1A 67.47%, #D8FF4E 76.89%, #E4FF82 79.76%, #FFFFFF 84.81%); */
    background: linear-gradient(180deg, #FFFFFF, #E1FF76, #DAFF54, #D2FF33, #CDFF1A, #D8FF4E, #E4FF82, #FFFFFF);
}

.bg-about-img {
    min-height: inherit;
    background-image: url('img/about.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-rounded {
    /* background: #051826; */
    border-radius: 40px 40px 40px 0px !important;
}

.card-rounded-top {
    /* background: #051826; */
    border-radius: 40px 40px 0px 0px !important;
}

.card-rounded-bottom {
    background: #F5F5F5;
    border-radius: 0px 0px 40px 0px !important;
}

hr {
    background: #f5f5f5;
    width: 50px;
    height: 4px;
    opacity: 1 !important;
}

/* Section: About */

/* TODO: Modify logic to be able to inspect about section */
.z-index-up {
    z-index: 2;
}

section#about p {
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.01em;
}


/* Bootstrap overriding */

.nav-item {
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.185em;
}

.nav-link:visited,
.nav-link:link {
  border-bottom: 2px solid transparent;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid #CDFF1A;
}

.card-body {
    padding: 38px !important;
}

.card-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.005em;
    text-align: left;
}